.message{
    display: flex;
    align-items: center;
}

.my-message{
    flex-direction: row-reverse;
}

.my-message .message-text{
    background-color: #306cd2;
    color: white;
}

.my-message .message-text span{
    color: white;
}

.message-content{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 2.5vw;
    padding: 10px;
    width: fit-content;
}

.message-buttons{
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%; /* Position above the icon */
    left: 50%;
    margin-left: -40px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid black;
}

.message-content .message-buttons::after{
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.message-creator-info img{
    max-width: 30px;
    border-radius: 32px;
    height: 30px;
    object-fit: cover;
}

.message-creator-name{
    font-size: 10px;
}

.message-creator-info img:hover{
    cursor: pointer;
}

.message-text{
    background-color: #F5F6F7;
    border-radius: 8px;
    box-shadow: 0 0 1px 0;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-text span{
    font-size: 10px;
    color: #2979ff;
    display: none;
}

.message-content:hover .message-buttons{
    visibility: visible;
    opacity: 1;
}

.message-content:hover .message-text span{
    display: inline;
}

.message-buttons{
    background-color: white;
}

.message-buttons button{
    border: 0;
    background-color: white;
}

.message-buttons button:hover{
    cursor: pointer;
}

.message-buttons-edit:hover{
    color: #2979ff;
}

.message-buttons-delete:hover{
    color: red;
}

@media screen and (max-width: 768px) {
    
}