.menu-content{
    position: absolute;
    height: 100vw;
    left: 100%;
    top: 6.9vw;
}

.menu-content a{
    display: block;
    text-align: center;
}

.menu {
    position: absolute;
    top: 0;
    width: 20vw;
    height: 100vw;
    min-width: 120px;
    background-color: white;
    transition: right 0.3s ease;
  }

  .menu.open {
    right: 0; /* Slide the menu into view when open */
  }

  .menuLines{
    width: 4vw;
    border: black;
    position: absolute;
}

.menuLines hr{
    height: 0.25vw;
    background: black;
    border: 0;
    margin: 0.3vw 0;
}

.menuLines:hover{
    cursor: pointer;
}

.menu-content a:hover{
    color: white;
    cursor: pointer;
}

.icon{
    font-size: 2vw;
    position: absolute;
}