@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.create-vehicle-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F5F6F7;
    font-family: "Roboto", sans-serif;
}

.create-vehicle-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vw;
}

.create-vehicle-header{
    height: 4vw;
    width: 40vw;
    text-align: center;
    align-content: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 1px 0 black;
}

.create-vehicle-content h2{
    height: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2979ff;
}

.create-vehicle-form{
    width: 40vw;
    height: 20vw;
    background-color: white;
    box-shadow: 0 0 1px 0;
    border-radius: 8px;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    column-gap: 3vw;
    grid-template-areas: 
    'brandname modelname'
    'year color'
    'fuel seatcount'
    'acsystem upload'
    'button button';
    padding: 10px
}

.inputModel{
    background: #F5F6F7;
    border: 0;
    height: 3vw;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0px 0px 1px 0px black;
}

.vehicle-brandname{
    grid-area: brandname;
}

.vehicle-modelname{
    grid-area: modelname;
}

.vehicle-year{
    grid-area: year;
}

.vehicle-color{
    grid-area: color;
}

.vehicle-fuel{
    grid-area: fuel;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
}

.vehicle-fuel label{
    font-size: 18px;
    color: #2979ff;
}

.vehicle-fuel select{
    width: 6vw;
    border: 0;
    box-shadow: 0 0 1px 0;
    border-radius: 8px;
    background-color: #F5F6F7;
    font-size: 1.1vw;
}

.vehicle-fuel option:hover{
    cursor: pointer;
}

.vehicle-seatcount{
    grid-area: seatcount;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.vehicle-seatcount label{
    font-size: 18px;
    color: #2979ff;
}

.vehicle-seatcount input{
    width: 3vw;
    border: 0;
    box-shadow: 0 0 1px 0;
    border-radius: 8px;
    background-color: #F5F6F7;
}

.vehicle-acsystme{
    grid-area: acsystem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.vehicle-acsystme input{
    width: 1vw;
    height: 1vw;
}

.vehicle-acsystme input:hover{
    cursor: pointer;
}

.vehicle-upload{
    grid-area: upload;
}

.vehicle-upload label{  
    height: 2vw;
    width: 15vw;
    border: 1px solid #2979ff;
    background-color: #F5F6F7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vehicle-upload label:hover{
    cursor: pointer;
    color: #2979ff;
}

.vehicle-upload span{
    display: block;
    text-overflow: ellipsis; /* Truncate text with ellipsis */
    overflow: hidden;
    white-space: nowrap;
    width: 15vw;
}

.vehicle-submit-button{
    grid-area: button;
    border-radius: 16px;
    height: 2.5vw;
    width: 6vw;
    background-color: white;
    border: 2px solid #2979ff;;
    transition: 0.3s;
    margin-bottom: 1vw;
    font-size: 1vw;
    color: #2979ff;
    font-weight: bold;
}

.vehicle-submit-button:hover{
    cursor: pointer;
    background-color: #2979ff;
    color: white;
}

.allready-have-vehicle{
    width: 30vw;
    height: 12vw;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 1px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.allready-have-vehicle h3{
    font-size: 24px;
    color: #2979ff;
}

.allready-vehicle-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.allready-vehicle-links a{
    text-decoration: none;
    border: 1px solid #2979ff;
    padding: 10px;
    border-radius: 16px;
    color: #2979ff;
    font-weight: bold;
}

.allready-vehicle-links a:hover{
    background-color: #2979ff;
    color: white;
    cursor: pointer;
}