@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.search-menu{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: url(https://sttravelbuddies001.blob.core.windows.net/web/ilse-orsel-v0oyDAu4Ypg-unsplash.jpg) no-repeat -20.5vw; */
    background: #F5F6F7;
    font-family: "Roboto", sans-serif;
    color: #2979ff;
    padding: 6vw 0 0 0;
    row-gap: 3vw;
}

.search-menu-content{
    /* background: url(https://static.vecteezy.com/system/resources/previews/007/677/104/non_2x/white-background-with-blue-geometric-and-white-line-pattern-free-vector.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 66%;
    background-position-x: 50%;
    background-color: #F5F6F7;
    width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-attachment: local;
    min-height: 610px;
    padding: 2vw;
    position: relative;
    
}

.demo-bg {
    opacity: 0.2;
    position: absolute;
    min-height: 100vh;
    width: 66%;
  }

.search-header{
    height: 4vw;
    width: 40vw;
    text-align: center;
    align-content: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 1px 0 black;
}

.search-menu form{
    display: flex;
}

#search{
    padding: 2%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    row-gap: 1vw;
    background: white;
    box-shadow: 0px 0px 1px 0px black;
}

#search input{
    background: #F5F6F7;
    
}

.cities-inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2vw;
}


/* .city-input input{
    width: 14vw;
    height: 3vw;
    border: 0;
    border-radius: 32px;
    background: white;
    padding-left: 1.5vw;
    font-size: 18px;
    box-shadow: 0px 0px 1px 0px black;
} */

.city-input input:focus{
    border: none;
}

.city-input ul{
    position: absolute;
    list-style: none;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 14vw;
    background: #F5F6F7;;
    margin: 0;
    row-gap: 1vw;
    z-index: 2;
}

.city-input ul li{
    width: 100%;
    text-align: center;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-input ul li:hover{
    border: 1px solid;
    cursor: pointer;
    font-size: 1.2vw;
}

.more-options{
    display: grid;
    align-items: center;
    row-gap: 1vw;
    justify-items: center;
    width: 100%;
}

.more-options-a{
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
}

.more-options-a p{
    font-size: 16px;
}

.more-options-a:hover{
    cursor: pointer;
}

.more-options-content{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    column-gap: 10vw;
    row-gap: 3vw;
    font-size: 16px;
    flex-direction: column;
    width: 100%;
}

.more-option-price{
    height: 2vw;
    width: 8vw;
    border: 0;
    padding: 0.5vw;
    border-radius: 32px;
    box-shadow: 0px 0px 1px 0px black;  
}

.more-options-boolean{
    display: flex;
    column-gap: 0.5vw;
}

.more-options-boolean input{
    width: 1vw;
}

.more-options-calendar{
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.options-calendar-input-button{
    display: flex;
    align-items: center;
    grid-column: auto;
}

.options-calendar-input-button button{
    border: 0;
    background: transparent;
    color: #2979ff;
}

.options-calendar-input-button button:hover{
    cursor: pointer;
}

.options-calendar-input{
    height: 2vw;
    width: 12vw;
    border: 0;
    padding: 0.5vw;
    border-radius: 32px;
    box-shadow: 0px 0px 1px 0px black;
}

.search-calendar{
    position: absolute;
    top: 48%;
    z-index: 1;
}

.submit-button {
    border-radius: 16px;
    height: 2.5vw;
    width: 6vw;
    background-color: white;
    border: 2px solid #2979ff;;
    transition: 0.3s;
    margin-bottom: 1vw;
    font-size: 1vw;
    color: #2979ff;
}

.submit-button:hover{
    cursor: pointer;
    background-color: #2979ff;
    color: white;
}

.more-opitons-calendars{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.price-range-selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.more-options-bools{
    display: flex;
    width: 100%;
    justify-content: space-around;
}