@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* dark mode:
primary: #282828
secondary: #1c1e21

light mode:
primary: white
secondary: #F5F6F7 */


.header{ 
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 1100;
    background: white;
    height: 6vw;
    box-shadow: 0px 0px 2px 0px black;
    /* background-image: url(https://thumbs.dreamstime.com/z/auto-car-logo-design-icon-vector-illustration-auto-car-logo-design-icon-vector-illustration-symbol-service-automobile-silhouette-157364282.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 45%;
    background-size: 55%; */
}

.header-img{
    opacity: 0.2;
    position: absolute;
    width: 48%;
    height: 100%;
    object-fit: cover;
    padding: 0%;
    left: 25%;
}

.header .logo-content {
    display: flex;
    padding: 0px 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header div a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}


.logo {
    font-size: 2vw;
    color: #2979ff;
    letter-spacing: 1px;
    font-weight: bold;
}

.logo img{
    max-width: 8vw;
}

.navigation {
    padding: 20px;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    justify-items: center;
    list-style: none;
    margin: 10px 20px;
    padding-right: 10vw;
    align-items: center;
}

.navigation ul li a{
    color: #2979ff;
    font-size: 1.2vw;
    letter-spacing: 0.5px;
}
