
.catalog-main{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.catalog-center{
    width: 65vw;
    padding: 4vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    row-gap: 4vw;
    overflow: auto;
    position: relative;
}
