.message-form{
    width: 40vw;
    /* text-align: center; */
    margin-top: 10px;
}

.message-form form{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    min-height: 3vw;
    max-height: 6vw;
}

.message-form form input{
    width: 70%;
    height: 100%;
    border-radius: 6px;
    border: 0;
    background: white;
    box-shadow: 0 0 1px 0 black;
    padding: 10px 20px;
}

.message-form form button{
    height: 100%;
}

.message-form form button:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .message-form{
        width: 90%;
    }

    .message-form form{
        justify-content: space-around;
    }
}