.message-form{
    width: 40vw;
    /* text-align: center; */
    margin-top: 10px;
}

.message-form form{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.message-form form input{
    width: 30vw;
    height: 3vw;
    border-radius: 6px;
    border: 0;
    background: white;
    box-shadow: 0 0 1px 0 black;
    padding: 10px 20px;
}

.message-form form button{
    height: 3vw;
}

.message-form form button:hover{
    cursor: pointer;
}