.member{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 3vw;
    max-height: 10vw;
    background-color: white;
    box-shadow: 0px 0px 1px 0px;
    border-radius: 8px;
    padding: 5px;
    column-gap: 5px;
    justify-content: center;
}

.member img{
    width: 30px;
    border-radius: 32px;
    object-fit: cover;
    height: 30px;
}

.member img{
    cursor: pointer;
}

.member p{
    width: 8vw;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
}

.member p:hover{
    background-color: transparent;
    cursor: pointer;
    color: #2979ff;
}

.owner{
    text-decoration: underline;
}

.button-kick{
    border: 0;
    background-color: transparent;
    color: red;
}

.button-kick:hover{
    cursor: pointer;
}

.button-member-options{
    border: 0;
    background-color: transparent;
    width: 10px;
    color: gray;
}

.button-member-options:hover{
    cursor: pointer;
}

.kick-user-btn{
    background: transparent;
    display: flex;
    border: 0;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    color: orangered;
}

.kick-user-btn:hover{
    cursor: pointer;
    color: red;
}

.ban-user-btn{
    background: transparent;
    display: flex;
    border: 0;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    color: gray;
}

.ban-user-btn:hover{
    cursor: pointer;
    color: black;
}

@media screen and (max-width: 1024px) {
    

    .member p{
        width: 70%;
    }
}