
.groups-main{
    position: fixed;
    top: 6vw;
    display: flex;
    flex-direction: column;
    right: 0vw;
    width: 17vw;
    padding: 5px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    row-gap: 15px;
    overflow: auto;
    background: #F5F6F7;
    color: #8D949E;
    padding: 2vw 0;
}

.groups-main-group{
    padding: 10px 20px;    
    color: black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.groups-main-group:hover{
    background-color: white;
    cursor: pointer;  
}

.picture-group img{
    max-width: 40px;
    border-radius: 32px;
}