@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.group-main{
    font-family: "Roboto", sans-serif;
    padding-top: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #F5F6F7;
}

.group-content{
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
    width: 65%;
    position: relative;
    padding-top: 1.5vw;
    height: 100vh;
}

.group-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    overflow: auto;
    max-height: 500px;
    padding: 5px 2px;
}

.group-info{
    padding: 10px;
    box-shadow: 0 0 1px 0;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;
}

.group-info h3{
    font-size: 18px;
    color: #2979ff;
}

.group-info-options{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.group-info-members:hover{
    color: #2979ff;
    cursor: pointer;
}

.group-time-btn:hover{
    color: #2979ff;
    cursor: pointer;
}

.group-settings-btn:hover{
    color: #2979ff;
    cursor: pointer;
}

.group-settings-menu{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 1px 0;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.group-settings-menu button{
    background-color: transparent;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.leave-group-btn{
    color: red;
    border: 1px solid red;
    transition: 0.3s;
}

.leave-group-btn:hover{
    cursor: pointer;
    color: white;
    background-color: red;
}

.group-time{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 1px 0;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.group-messages-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-messages{
    width: 48vw;
    height: 65vh;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column-reverse;
    padding: 1vw;
    row-gap: 15px;
    overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
    .group-content{
        width: 100%;
        padding: 20px;
    }

    .group-info-container{
        width: 30%;
    }

    .group-messages-content{
        width: 80%;
    }

    .group-messages{
        width: 90%;
        padding: 3vw 1vw;
    }
}

@media screen and (max-width: 768px) {
    .group-info-container{
        display: none;
    }
    .group-messages-content{
        width: 100%;
    }

    .group-messages{
        padding: 3vw 1vw;
    }
}