@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.group-main{
    font-family: "Roboto", sans-serif;
    padding-top: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #F5F6F7;
}

.group-content{
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
}

.group-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.group-info p{
    width: 8vw;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
}

.group-info p:hover{
    background-color: white;
    cursor: pointer;
    color: #2979ff;
}

.group-info div{
    width: 12vw;
    height: 3vw;
    background-color: white;
    box-shadow: 0px 0px 1px 0px;
    border-radius: 8px;
    padding: 5px;
}

.group-messages{
    width: 50vw;
    height: 65vh;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column-reverse;
    padding: 2vw;
    row-gap: 5px;
    overflow: auto;
}

.member{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member:hover{
    color: #2979ff;
}

.member img{
    max-width: 40px;
    border-radius: 32px;
    object-fit: cover;
    height: 40px;
}

.message-form{
    width: 40vw;
    /* text-align: center; */
    margin-top: 10px;
}

.message-form form{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.message-form form input{
    width: 30vw;
    height: 3vw;
    border-radius: 32px;
    border: 0;
    background: white;
    box-shadow: 0 0 1px 0 black;
    padding: 10px 20px;
}

.message-form form button{
    border: 0;
    background: white;
    width: 5vw;
    height: 3vw;
    border-radius: 32px;
    box-shadow: 0 0 1px 0 #2979ff;
}

.message-form form button:hover{
    color: #2979ff;
    cursor: pointer;
}

.message{
    display: flex;
    align-items: center;
}

.my-message{
    flex-direction: row-reverse;
}

.message-content{
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 2.5vw;
    padding: 10px;
    width: fit-content;
}

.message-creator-info img{
    max-width: 30px;
    border-radius: 32px;
    height: 30px;
    object-fit: cover;
}

.message-creator-info img:hover{
    cursor: pointer;
}

.message-text{
    background-color: #F5F6F7;
    border-radius: 8px;
    box-shadow: 0 0 1px 0;
    padding: 5px 15px;
}