@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.group-main{
    font-family: "Roboto", sans-serif;
    padding-top: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #F5F6F7;
}

.group-content{
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
}

.group-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.group-info-members:hover{
    color: #2979ff;
    cursor: pointer;
}


.group-messages{
    width: 50vw;
    height: 65vh;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column-reverse;
    padding: 2vw;
    row-gap: 15px;
    overflow: auto;
}